*{ 
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body{
    background-image: url(beautiful.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(211, 199, 31);
    text-align: center;
}
.menu-bar ul{
     display: inline-flex;
     list-style: none;
     color: #fff;
}
.menu-bar ul li{
      width: 100px;
      margin: 10px;
      padding: 10px;
      
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(151, 69, 11);
}
.active, .menu-bar ul li:hover{
    background: rgb(6, 173, 56);
    border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(211, 199, 31);
    margin-top: 10px;
    margin-left: -11px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
